<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Achados e Enchentes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/API_MVC_Achados_e_Enchentes.styles.css" asp-append-version="true" />
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
        }

        h1, h3, h4 {
            color: #333;
            text-align: center;
        }

        h1 {
            margin-bottom: 20px;
        }

        h3 {
            margin-bottom: 10px;
            color: #dc3545;
        }

        h4 {
            margin-bottom: 10px;
        }

        .row {
            display: flex;
            justify-content: center;
        }

        .col-md-4 {
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        .col-sm-2 {
            font-weight: bold;
            color: #555;
        }

        .col-sm-10 {
            color: #333;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

            .form-control:focus {
                border-color: #007bff;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }

        .control-label {
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
        }

        .text-danger {
            color: #dc3545;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
            color: #fff;
            text-align: center;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #004085;
            }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
            color: #fff;
            text-align: center;
        }

            .btn-danger:hover {
                background-color: #c82333;
                border-color: #bd2130;
            }

        a {
            text-decoration: none;
            font-weight: bold;
        }

            a:hover {
                font-weight: bolder;
            }

        div > a {
            display: block;
            margin-top: 15px;
            text-align: center;
        }

        dl {
            display: flex;
            flex-wrap: wrap;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        dt {
            margin-bottom: 10px;
        }

        dd {
            margin-bottom: 10px;
            margin-left: 0;
        }

        .navbar {
            background-color: #000;
            border-bottom: 1px solid #e3e3e3;
            padding: 15px 20px;
            margin: 0;
        }

        .logo {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
            color: #ffff;
        }
        .logo:hover {
            color: #ffff;
            cursor: default;
        }

        .button {
            color: #ffff;
            font-weight: 700;
            padding: 15px;
            display: block;
        }

            .button:hover {
                font-weight: 900;
                color: gray;
            }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">Achados e Enchentes</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="button" asp-area="" asp-controller="Usuario" asp-action="Index">Usuario</a>
                        </li>
                        <li class="nav-item">
                            <a class="button" asp-area="" asp-controller="Pessoa" asp-action="Index">Pessoa</a>
                        </li>
                        <li class="nav-item">
                            <a class="button" asp-area="" asp-controller="Observacoes" asp-action="Index">Observações</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>